@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {

  --color-page-background-light: #F8ECF0;
  --color-card-background-light: #FFFFFF;

  
  --color-primary-accent-light: #8C2D4B;
  --color-button-text-light: #FFFFFF;
  --color-link-light: #FCE7F3;

  
  --color-text-primary-light: #333333;
  --color-text-secondary-light: #888888;

  
  --color-border-light: #E0E0E0;
  --color-shadow-light: rgba(0, 0, 0, 0.1);

  
  --color-success-light: #4CAF50;
  --color-error-light: #D32F2F;


  
  --color-page-background-dark: #1E293B;
  --color-card-background-dark: #282840;


  --color-primary-accent-dark: #B13E67;
  --color-button-text-dark: #FFFFFF;
  --color-link-dark: #FF99CC;

  
  --color-text-primary-dark: #E0E0E0;
  --color-text-secondary-dark: #A0A0A0;

  
  --color-border-dark: #444455;
  --color-shadow-dark: rgba(0, 0, 0, 0.3);

 
  --color-success-dark: #66BB6A;
  --color-error-dark: #EF5350;

  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;
}